body {
    background-color: #9b9b9b;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#bbCanvas {
    position: absolute;
    margin: 0;
    cursor: default;
    /*Perché si vede solo il bordo sinistro?*/
    border: aquamarine solid ;
    z-index: 1;
}
#uiCanvas{
    opacity: 0.5;
    position: absolute;
    margin: 0;
    cursor: default;
    /*Perché si vede solo il bordo sinistro?*/
    border: aquamarine solid ;
    z-index: 2;
}